.cardChampIcon>img {
    width: 65px;
    margin: -8px;
    padding: 1px;
    overflow: hidden;
}

.dateInfo {
    padding: 0px;
    font-size: 70%;
}

.timeInfo {
    padding: 0px;
    font-size: 45%;
}

.matchIdInfo {
    font-size: 0.6rem;
    line-height: 0.5em;
}

.playerGold {
    color: gold;
    font-size: 0.9rem;
}

.matchQueueType {
    font-size: 0.8rem;
    text-align: right;
}

.matchMap {
    font-size: 0.5rem;
}