.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-header {
  font-size: 1.5rem;
}

.card {
  margin: 5vh;
  background-position: center;
  opacity: 1;
  color: rgb(100, 100, 100, 0.0);
  max-width: 18rem;
  height: 509px;
  
}

.card:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
  background-blend-mode:overlay;

}

#profile {
  border: 1px solid greenyellow;
}

#profilePic {
  margin: 10px 10px 10px 1px;
}

.masteryRank {
  max-width: 200px;
  max-height: 200px;
}